*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.todoapp{
    width: 70%;
    height: 80%;
    background-color: white;
    border: 1px solid rgb(81, 79, 79);
}
.todoheader{
    background-color: grey;
    font-size: 20px;
    padding: 20px 10px;
    color: white;
}
.todobody{
    padding: 20px;
}
.createtodo button{
    width: 28%;
}
.createtodo input {
    width: 70%;
}
.createtodo{
    display: flex;
    justify-content: space-between;
}
.listtodos{
padding: 20px 0;
}
.todoitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px;
}
.todocheckbox{
    width: 10%;
}
.todoname{
    width: 70%;
}
.actions {
    width: 20%;
}
.todoitem:nth-child(odd){
    background-color: rgb(220, 210, 210);
}

